body {
  background-color: #000;
  color: #FFF;
}

.block{
  display: block;
}

.index_section{

  height: calc(100vh - 56px);
  background-image: url("../../images/beer.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  & div{
    margin: 0 auto;
    margin-left: 50%;
    width: 30%;    
    text-align: center;
    padding-top: 10em;
  }

  & span{
    margin-top: 2em;
  }
}