body {
  background-color: #000;
  color: #FFF;
}

.index_section{

  height: calc(100vh - 56px);
  background-image: url("../../images/beer.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  & h1{
    text-align: center;
    padding-top: 2em;
    padding-left: 40%;
  }
}